/FirstJavaClass/nbproject/private/
/FirstJavaClass/build/
/JavaClass1/nbproject/private/
/JavaClass2/nbproject/private/
/JavaClass2/build/
/JavaClass1/build/
/JavaClass2Task2/nbproject/private/
/JavaClass2Task2/build/
/CalculateTest/nbproject/private/
/CalculateTest/build/
/ResultGrade/nbproject/private/
/ResultGrade/build/
/MaxNumber/nbproject/private/
/MaxNumber/build/
/JavaApplication8/nbproject/private/
/FahrenheitToCelsius/nbproject/private/
/FahrenheitToCelsius/build/
/CurrentTime/nbproject/private/
/CurrentTime/build/
/PracticeClass3/nbproject/private/
/PracticeClass3/build/
/Sumsub/nbproject/private/
/Sumsub/build/
/IncrementDecrement/nbproject/private/
/IncrementDecrement/build/
/Test/nbproject/private/
/Test/build/
/VowelConsonent/nbproject/private/
/VowelConsonent/build/
/MathematicalFunctionsCharactersStrings/nbproject/private/
/MathematicalFunctionsCharactersStrings/build/
/DaysOfMonth/nbproject/private/
/DaysOfMonth/build/
/FinancialPayroll/nbproject/private/
/FinancialPayroll/build/
/Practies/nbproject/private/
/Practies/build/
/MyClass/nbproject/private/
/JavaConversation/nbproject/private/
/JavaConversation/build/
/TestMethod/nbproject/private/
/TestMethod/build/
/ForLoops/nbproject/private/
/ForLoops/build/
/BreakContinue/nbproject/private/
/BreakContinue/build/
/Practices/nbproject/private/
/Practices/build/
/RandomPasswordGenarator/nbproject/private/
/RandomPasswordGenarator/build/
/JavaApplication28/nbproject/private/
/JavaApplication28/build/
/PraimeArray/nbproject/private/
/PraimeArray/build/
/TowDinmensionalArray/nbproject/private/
/TowDinmensionalArray/build/
/TwoDaimentionalArray/nbproject/private/
/TwoDaimentionalArray/build/
/SumTwoDaimentionalArays/nbproject/private/
/SumTwoDaimentionalArays/build/
/TestClassAndObject/nbproject/private/
/TestClassAndObject/build/
/TestClassInObject/nbproject/private/
/TestClassInObject/build/
/Class-8/TestMethod/build/
/ClassTest/nbproject/private/
/ClassTest/build/
